

.app{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 40px 24px;
}

.app__searchForm{
  margin-top: 24px;
}

.app__input{
  padding: 6px 16px;
  min-width: 100px;
}

.app__submit{
  padding: 7.5px 16px;
  font-size: 15px;
  margin-left: 6px;
  background-color: #FF8F44;
  border: #FF8F44;
  border-radius: 2px;
  font-size: 15px;
  color: aliceblue;
}

.app__submit:hover{
  padding: 7.5px 16px;
  font-size: 15px;
  margin-left: 6px;
  background-color: #6f3915;
  border: #6f3915;
  border-radius: 2px;
  font-size: 15px;
  color: aliceblue;
  cursor: pointer;
}

.app__recipes{
  margin-top: 24px;
  display: grid;
  grid-template-columns: 230px 230px;
  align-items: baseline;

}

.app__healthLabel{
  padding: 7px 8px;
  margin-left: 6px;
  border-radius: 4px;
}